<?xml version="1.0"?>

<launch>

  <arg name="geotiff_map_file_path" default="$(find hector_geotiff)/maps"/>

  <param name="/use_sim_time" value="true"/>

  <include file="$(find hector_mapping)/launch/mapping_default.launch">
    <!-- <arg name="pub_map_odom_transform" value="true"/> -->
    <!-- <arg name="map_frame" value="map" /> -->
    <!-- <arg name="base_frame" value="base_frame" /> -->
    <!-- <arg name="pub_debug_output" value="true"/> -->
    <!-- <arg name="source_frame_name" type="string" value="laser_birdcage_r2000_base_link" /> -->
    </include>
    <param name="hector_mapping/odom_frame" value="odom" />
    <param name="hector_mapping/map_resolution" value="0.1"/>
    <param name="hector_mapping/scan_topic" value="/laser_birdcage_r2000/scan_filtered"/>
    <param name="hector_mapping/map_multi_res_levels" value="3"/>
    <param name="hector_mapping/map_size" value="250"/>

  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>

<node pkg="tf" type="static_transform_publisher" name="baselink_laser_broadcaster" args="0 0 0 0 0 0 base_frame /laser_birdcage_r2000/scan_filtered 20"/>
<node pkg="tf" type="static_transform_publisher" name="base_footprint_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_frame 20"/>
<node pkg="tf" type="static_transform_publisher" name="base_base_footprint_link_broadcaster" args="0 0 .63 0 0 0 base_footprint base 20"/>
<node pkg="tf" type="static_transform_publisher" name="world_map_link_broadcaster" args="0 0 0 0 0 0 world map 20"/>


<!--
Currently requires a restart of the hector slam and odometry services prior to movement. Odom is hard linked to map origin
-->
<node pkg="tf" type="static_transform_publisher" name="map_odom_link_broadcaster" args="0 0 0 0 0 0 map odom 20"/>
<!-- is this needed? -->
<node pkg="tf" type="static_transform_publisher" name="odom_to_basefootprint" args="0.0 0.0 0.0 0 0 0.0 /odom /base_footprint 40" />
<!-- why does scanmatcher_frame belong as parent of base_footprint? -->
<node pkg="tf" type="static_transform_publisher" name="scanmatcher_frame_base_footprint_link_broadcaster" args="0 0 0 0 0 0 scanmatcher_frame base_footprint 20"/>
<node pkg="tf" type="static_transform_publisher" name="base_reference_base_link_broadcaster" args="0 0 0 0 0 0 base reference/base 20"/>

      <param name="output_timing" value="true"/>

</launch>
