<launch>

<master auto="start"/>

<param name="/use_sim_time" value="false"/>

<node pkg="tf" type="static_transform_publisher" name="baselink_laser_broadcaster" args="0 0 0 0 0 0 base_frame /laser_birdcage_r2000/scan_filtered 20"/>
<node pkg="tf" type="static_transform_publisher" name="base_footprint_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_frame 20"/>
<node pkg="tf" type="static_transform_publisher" name="base_base_footprint_link_broadcaster" args="0 0 .63 0 0 0 base_footprint base 20"/>
<node pkg="tf" type="static_transform_publisher" name="world_map_link_broadcaster" args="0 0 0 0 0 0 world map 20"/>

<!-- actual gripper tip -->
<node pkg="tf" type="static_transform_publisher" name="left_gripper_left_gripper_vx" args="0 0 -0.045 0 0 0 left_gripper left_gripper_vx 20"/>

<!-- Kinect -->
<node pkg="tf" type="static_transform_publisher" name="camera_link_base_link_broadcaster" args="0 0 1.5 -1.5707963268 0 -1.5707963268 base_link camera_link 20"/>
<node pkg="tf" type="static_transform_publisher" name="camera_depth_optical_frame_base_link_broadcaster" args="0 0 1.5 -1.5707963268 0 -1.5707963268 base_link camera_depth_optical_frame 20"/>

<!--
Currently requires a restart of the hector slam and odometry services prior to movement. Odom is hard linked to map origin
-->

<!--
<node pkg="tf" type="static_transform_publisher" name="map_odom_link_broadcaster" args="0 0 0 0 0 0 map odom 20"/>
-->

<!--
<node pkg="tf" type="static_transform_publisher" name="odom_base_footprint_link_broadcaster" args="0 0 0 0 0 0 odom base_footprint 20"/>
-->

<node pkg="tf" type="static_transform_publisher" name="base_reference_base_link_broadcaster" args="0 0 0 0 0 0 base reference/base 20"/>

      <param name="output_timing" value="true"/>

</launch>
