<launch>

   <master auto="start"/>
 <!-- Run the map server --> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(find mobility_base_2dnav)/yaml/map_server.yaml"/>

 <!--- Run AMCL --> 
    <include file="$(find amcl)/examples/amcl_omni.launch" />

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="/mobility_base/cmd_vel"/>
    <rosparam file="$(find mobility_base_2dnav)/yaml/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find mobility_base_2dnav)/yaml/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mobility_base_2dnav)/yaml/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mobility_base_2dnav)/yaml/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find mobility_base_2dnav)/yaml/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find mobility_base_2dnav)/yaml/move_base_params.yaml" command="load" />
 </node>

 <!--
 <node pkg="mobility_base_2dnav" type="save_location.py" name="save_location">
 </node>
 -->
 <node pkg="mobility_base_2dnav" type="go_to_location.py" name="go_to_location">
 </node>


</launch> 
